<!DOCTYPE html>
<html lang="es" class="dark transition-colors">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DashBoard</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/fontawesome/css/all.min.css" />
</head>
<body class="dark:bg-slate-950 dark:text-slate-100">
    <div class="grid md:grid-cols-[260px_1fr] md:grid-rows-[64px_1fr] h-screen">

        <aside id="sidebar" class="md:row-span-2 dark:bg-slate-900 border-r border-slate-800 flex flex-col h-screen justify-between max-md:fixed max-md:top-0 max-md:left-0 max-md:z-50 max-md:w-1/2 max-md:-translate-x-full transition-transform
        duration-300">
            <div class="w-full flex flex-col p-4">
                <div class="w-full flex items-center justify-between">
                    <a href="@Url.Action("Index", "Home")">
                        <h1 class="text-2xl">
                            <i class="fa-solid fa-coins text-purple-700 dark:text-purple-500"></i> FinTrack
                        </h1>
                    </a>

                    <button class="text-slate-400 hover:text-white transition-colors md:hidden " id="menu-close">
                        <i class="fa-solid fa-bars"></i>
                </div>

                <nav>
                    <ul class="flex flex-col mt-16">
                        <li class="flex px-2 items-center gap-2 rounded-md hover:bg-purple-500 dark:hover:bg-purple-700/50 transition-colors duration-300 @Html.IsCurrent("Dashboard", "Index")">
                            <i class="fa-solid fa-rectangle-list"></i>
                            @Html.ActionLink("Resumen", "Index", "Dashboard", null, new { @class = "w-full py-4" })
                        </li>
                        <li class="flex px-2 items-center gap-2 hover:bg-purple-500 dark:hover:bg-purple-700/50 rounded-md transition-colors duration-300 @Html.IsCurrent("Transacciones", "Index")">
                            <i class="fa-solid fa-receipt"></i>
                            @Html.ActionLink("Transacciones", "Index", "Transacciones", null, new { @class = "w-full py-4" })
                        </li>
                        <li class="flex px-2 items-center gap-2 hover:bg-purple-500 dark:hover:bg-purple-700/50 rounded-md transition-colors duration-300 @Html.IsCurrent("Presupuestos", "Index")">
                            <i class="fa-solid fa-wallet"></i>
                            @Html.ActionLink("Presupuestos", "Index", "Presupuestos", null, new { @class = "w-full py-4" })
                        </li>
                        <li class="flex px-2 items-center gap-2 hover:bg-purple-500 dark:hover:bg-purple-700/50 rounded-md transition-colors duration-300 @Html.IsCurrent("Metas", "Index")">
                            <i class="fa-solid fa-piggy-bank"></i>
                            @Html.ActionLink("Metas", "Index", "Metas", null, new { @class = "w-full py-4" })
                        </li>
                        <li class="flex px-2 items-center gap-2 hover:bg-purple-500 dark:hover:bg-purple-700/50 rounded-md transition-colors duration-300 @Html.IsCurrent("Reportes", "Index")">
                            <i class="fa-solid fa-chart-column"></i>
                            @Html.ActionLink("Reportes", "Index", "Reportes", null, new { @class = "w-full py-4" })
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Usuario bottom -->
            <div class="w-full h-fit relative px-2">
                <div id="Modal-user" class="w-11/12 hidden absolute bottom-full bg-black rounded-md h-fit px-4">
                    <ul class="flex flex-col border-b border-gray-500">
                        <li class="flex justify-center py-4 items-center gap-2 text-sm">
                            <img src="@(string.IsNullOrEmpty(Session["UsuarioFoto"] as string)
                                ? Url.Content("~/Content/assets/userdefault.png")
                                : Session["UsuarioFoto"] as string)"
                                 alt="perfil"
                                 class="w-8 h-auto rounded-full object-cover" />
                            <span>@Session["UsuarioNombre"]</span>
                        </li>
                    </ul>
                    <ul class="w-full flex flex-col py-4">
                        <li class="flex px-2 items-center gap-2 hover:bg-gray-500 dark:hover:bg-gray-700/50 rounded-md transition-colors duration-300">
                            <i class="fa-solid fa-gear"></i>
                            @Html.ActionLink("Configuración", "Index", "Configuracion", null, new { @class = "w-full py-4" })
                        </li>
                        <li class="flex px-2 items-center gap-2 hover:bg-gray-500 dark:hover:bg-gray-700/50 rounded-md transition-colors duration-300">
                            <i class="fa-solid fa-right-from-bracket"></i>
                            @Html.ActionLink("Cerrar Sesión", "Logout", "Account", null, new { @class = "w-full py-4" })
                        </li>
                    </ul>
                </div>

                <div id="user" class="w-full flex items-center justify-around py-2 border-t border-slate-800 cursor-pointer">
                    <img src="@(string.IsNullOrEmpty(Session["UsuarioFoto"] as string)
                        ? Url.Content("~/Content/assets/userdefault.png")
                        : Session["UsuarioFoto"] as string)"
                         alt="Foto de perfil"
                         class="w-10 h-10 rounded-full object-cover" />
                    <span>@Session["UsuarioNombre"]</span>
                </div>
            </div>
        </aside>

        @RenderBody()

    </div>

    <script>

        // Modal usuario
        const userButton = document.getElementById("user");
        const userModal = document.getElementById("Modal-user");

        userButton.addEventListener("click", function (e) {
            e.stopPropagation();
            userModal.classList.toggle("hidden");
        });

        document.addEventListener("click", function (e) {
            if (!userModal.contains(e.target) && !userButton.contains(e.target)) {
                userModal.classList.add("hidden");
            }
        });
    </script>

    @RenderSection("Scripts", required: false)

    <script>
    const sidebar = document.getElementById("sidebar");
    const openBtn = document.getElementById("menu-toggle");
    const closeBtn = document.getElementById("menu-close");

    // Abrir
    if (openBtn) {
        openBtn.addEventListener("click", () => {
            sidebar.classList.remove("max-md:-translate-x-full");
        });
    }

    // Cerrar
    if (closeBtn) {
        closeBtn.addEventListener("click", () => {
            sidebar.classList.add("max-md:-translate-x-full");
        });
    }

    // Click fuera
    document.addEventListener("click", (e) => {
        if (
            window.innerWidth < 768 &&
            !sidebar.contains(e.target) &&
            !openBtn?.contains(e.target)
        ) {
            sidebar.classList.add("max-md:-translate-x-full");
        }
    });
</script>
</body>
</html>
